{% extends 'base.html' %}

{% block content %}
  <center name="forgot-password" id="forgot-password" style="margin-top: 15%;">
    <h1 class="title-card">Enter your new password.</h1>
    <p class="title-card">Make sure the fields match.</p>
    <br>
    <form method="post" 
    hx-post="{% url 'get_recovery_email' %}"
    hx-target="#forgot-password"
    hx-swap="outerHTML">
      {% csrf_token %}
      <input type="password" name="password" placeholder=" Enter password ..." style="border: 1px solid darkgray;"/>
      <br>
      <input type="password" name="repeat" placeholder=" Enter password again..." style="border: 1px solid darkgray;"/>
      <br>
      {% if messages %}
        <ul class="font-bold border-red-600 bg-red-400 mb-2 w-fit px-1 sticky " 
        _="on load transition opacity to 0 over 3s then remove me">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <button type="submit" class="post-button">Recover</button><br />
    </form>
  </center>
{% endblock %}