{% extends 'base.html' %}
{% block content %}
  <br />
  <a id="new-post-button" name="new-post-button" class="post-button" style="position: fixed; margin-top: 20px;
  right: 0; 
  margin-right: 4px; 
  width: 120px; 
  text-align: center;" 
  hx-post="{% url 'new_post' %}"
  hx-swap="outerHTML"
  _="on mouseenter add .lightgreen-background to me 
      on mouseleave remove .lightgreen-background from me">+ New Post</a>
  <center class="main-margin">
    <div id="main" name="main">
      {% include 'snippets/user_posts.html' %}
    </div>
  </center>
{% endblock %}
