{% extends 'base.html' %}
{% block content %}
<center>
    <div style="width: 100%; position: relative;">
        <div class="title-card" style="margin-top: 100px; margin-left: 15px; transform: translateX(-150%); opacity: 0;"
        _="on load transition my *opacity to 1
        on load transition my *transform to 'translateX(0%)' over 0.2s">
            <h1 style="font-size: xx-large; font-weight: bolder; text-transform: capitalize; ">
               {{user}}
               {{user.comment_set.count}}
               {{user.post_set.count}}
               {{liked_posts}}
               {{liked_comments}}
            </h1>
        </div>
            <div class="profile-cards">
                {% include 'snippets/latest_posts.html' %}
                {% include 'snippets/top_posts.html' %}
            </div>
            <br>
            <div class="profile-cards">
                {% include 'snippets/latest_comments.html' %}
                {% include 'snippets/top_comments.html' %}
            </div>
    </div>
</center>
{% endblock %}
    