.post-button{
    padding: 4px;
    width: 80px;
    color: white;
    background-color: rgb(128,128,128) !important;
    -webkit-text-stroke: 1px white;
    border-radius: 4px;
    cursor: pointer;
}

.red-background{
    background-color: red !important;
}

.lightgreen-background{
    background-color: lightseagreen !important;
}

.darkgrey-background{
    background-color: rgb(82, 82, 82) !important;
}

.posted-text{
    font-size: medium; 
    width: 76%; 
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 75px;
    text-align: justify;
}

.posted-text-mouseover{
    font-size: medium; 
    width: 60%; 
    display:block;
    overflow-wrap: break-word;
    max-height: fit-content;
    text-align: justify;
}

.edit-box{
    display:inline-block; 
    font-size: medium; 
    width: 76%; 
    text-overflow: ellipsis;
    height: 250px;
    text-align: justify;
}

.transition-opacity{
    transition: all() ease-in 300ms;
}

.post-height{
    height: fit-content;
}