html{
    background-color: lightgray;
}

a {
    transition: all 500ms;
}

.post-button{
    padding: 4px;
    min-width: 80px;
    min-height: 32px;
    width: 80px;
    height: 32px;
    color: white;
    background-color: rgb(128,128,128) !important;
    -webkit-text-stroke: 1px white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(58, 58, 58);
}

.topbar-button{
    padding: 3px;
    min-width: 80px;
    min-height: 32px;
    width: 80px;
    height: 32px;
    color: black !important;
    font-weight: 900;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: all 500ms;
}

.topbar-button:hover{
    background-color: lightgreen !important;
    color: darkslategray !important;
}

.new-post-button:before{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 32px;
    min-height: 32px;
    color: black !important;
    font-weight: 900;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: all 500ms;
    content: '+ New Post';
}

.red-background{
    background-color: red !important;
}

.lightgreen-background{
    background-color: lightseagreen !important;
}

.darkgrey-background{
    background-color: rgb(82, 82, 82) !important;
}

.posted-text{
    font-size: medium;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 75px;
    text-align: left;
}

.posted-text-post{
    font-size: medium;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    text-align: justify;
    padding-bottom: 3svh;
    border-bottom: 1px rgb(167, 167, 167) solid;
}

.posted-title{
    font-size: x-large; 
    text-align: left; 
    overflow-wrap: break-word;
}

.posted-text-mouseover{
    font-size: medium; 
    display:block;
    overflow-wrap: break-word;
    max-height: fit-content;
    text-align: justify;
}

.edit-box{
    display:inline-block; 
    font-size: medium;
    width: 100%;
    text-overflow: ellipsis;
    height: 250px;
    text-align: justify;
}

.transition-opacity{
    transition: all() ease-in 300ms;
}

.post-height{
    height: fit-content;
}

.main-margin{
    margin-left: 20%; 
    margin-right: 20%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    border-left: 1px solid rgb(175, 175, 175); 
    border-right: 1px solid rgb(175, 175, 175);
}


.posted-comment{
    padding: 10px;
    border-bottom: 1px solid rgb(175, 175, 175);
    transition: 500ms;
}

.posted-comment:hover {
    background-color: rgba(128, 128, 128, 0.795);
}

.x-button {
    color: black;
}

.x-button:hover {
    color: red;
}

.video-thumb {
    width: 100%;
    border-radius: 5px;
    resize: both;
}

.title-card {
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    color: darkslategray;
}

.post-card {
    padding: 10px;
    border-bottom: 1px solid rgb(175, 175, 175);
    transition: 500ms;
}

.new-post-card {
    position: fixed;
    margin-top: 40px;
    padding-right: 5px;
    padding-left: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    height: fit-content;
    background-color: dimgray;
    z-index: 7;
}

.post-view{
    padding: 10px;
    border-bottom: 1px solid rgb(175, 175, 175);
}

.post-card:hover{
    background-color: rgba(128, 128, 128, 0.795);
}

.profile-card {
    background-color: lightgray;
    width: 300px;
    height: 231px;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.disable-click {
    pointer-events: none;
}

a:link{
    color: black;
}

a:visited{
    color: darkslategrey;
}

a:hover{
    color: lightgreen;
}


@media only screen and (max-device-width : 480px){
    .main-margin{
        margin-left: 5%; 
        margin-right: 5%;
    }
}

@media only screen and (max-device-width : 840px){
    .main-margin{
        margin-left: 8%; 
        margin-right: 8%;
    }
}

@media screen and (max-device-width : 480px){
    .new-post-button:before{
        padding-left: 10px;
        padding-right: 10px;
        min-width: 32px;
        min-height: 32px;
        color: black !important;
        font-weight: 900;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
        content: '+';
    }
}

/* @media screen and (max-device-width : 620px){
    .profile-cards {
        display: block;
    }
} */