<div id="newpost" name="newpost" class="post-card"
style="position: fixed;
margin-top: 40px;
left: 50%;
transform: translateX(-50%);
text-align: justify;
height: fit-content;
z-index: 7;
box-shadow: 0 0 2px 2px gray;"
hx-post="{% url 'cancel_new' %}"
hx-trigger="htmx:afterRequest once"
hx-target="#newpost"
hx-swap="outerHTML">
    <form hx-post="{% url 'save_new' %}" 
      hx-confirm="Are you sure you want to create a new post?"
      hx-target="#main"
      _="on keyup[ctrlKey and key is 'Enter'] from body trigger submit">
    <b><textarea id="posttitle" name="posttitle" 
        placeholder="Post title here..."
        style="width:300px; 
        font-size: x-large; 
        text-align: left; 
        border: 1px darkgray solid;
        border-radius: 4px;
        box-shadow: 0 0 2px 2px gray;
        margin-top: 10px;"></textarea></b>
    <br>
    <textarea id="posttext" name="posttext" 
    class="edit-box"
    placeholder="Post text here..."
    style="min-height:300px;
    min-width: 300px; 
    height:fit-content; 
    width:250px; 
    border: 1px darkgray solid;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px gray;"></textarea>
    <br />
    <center style="padding:5px">
      <button id="save_button" name="save_button" type="submit"
      class="post-button"
      style="cursor: pointer; text-align: center; left: 0px; position: relative;"
        _="on mouseenter toggle .lightgreen-background on me until mouseleave">Save</button>
      <a type="button"
        class="post-button"
        style="cursor: pointer; text-align: center; right: 0px; position: relative;"
        hx-post="{% url 'cancel_new' %}"
        hx-confirm="You will lose your unsaved text, are you sure?"
        hx-target="#newpost"
        hx-swap="innerHTML"
        _="on mouseenter toggle .red-background on me until mouseleave
            on keyup[key is 'Escape'] from the body trigger click">Cancel</a>
    </center>
    </form>
  </div>
  