{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <ul class="font-bold border-red-600 bg-red-400 mb-2 w-fit px-1 mt-1"
                    style="position: absolute; left: 50%; transform: translateX(-50%); z-index: 7;"
                 _="on load transition opacity to 0 over 3s then remove me">
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
            {% if message.tags == 'info' %}
                <ul class="font-bold border-green-600 bg-green-400 mb-2 w-fit px-1 mt-1" 
                style="position: absolute; left: 50%; transform: translateX(-50%); z-index: 7;"
                _="on load transition opacity to 0 over 3s then remove me">
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
<div class="post-card" id="post{{ post.id }}" style="transform: translateX(-150%); opacity: 0;"
    _="on load transition my *opacity to 1 over 1 seconds
    on load transition my *transform to 'translateX(0%)' over 0.5 seconds
    on mouseenter wait 0.5s then toggle @hidden on #delete{{post.id}} until mouseleave
    on mouseenter wait 0.5s then toggle @hidden on #edit{{post.id}} until mouseleave
    on mouseenter wait 0.5s then remove .disable-click from #mod-buttons{{post.id}}
    on mouseleave add .disable-click to #mod-buttons{{post.id}}
    on every mouseenter wait 0.5s then transition #delete{{post.id}} opacity to 1 over 0.4 seconds
    on every mouseenter wait 0.5s then transition #edit{{post.id}} opacity to 1 over 0.4 seconds
    on every mouseleave wait 0.5s then transition #delete{{post.id}} opacity to 0
    on every mouseleave wait 0.5s then transition #edit{{post.id}} opacity to 0">
    <b><h1 class="posted-title">{{ post.title }}</h1></b>
    <a href="{% url 'see_post' post.id %}">
        <p style="position:absolute; left: 5px; bottom: 5px;">{{post.comment_number}} {% if post.comment_number == 1 %}comment{% else %}comments{% endif %}</p>
    </a>
    {% autoescape off %}
    <p id="posttext{{post.id}}" class="posted-text">{{ post.text }}</p>
    {% endautoescape %}
    {% include 'show_links.html' %}
    <br>
    <div id="mod-buttons{{post.id}}" name="mod-buttons{{post.id}}"
    class="disable-click"
    style="display: inline-flex; 
    column-gap: 5px; 
    position: absolute; 
    bottom: 5px; 
    right: 5px;">
        <a id="delete{{post.id}}" type="button" class="post-button" style="cursor: pointer;"
        hidden
        hx-delete="{% url 'delete_post' post.pk %}"
        hx-confirm="Are you sure you want to delete this post?"
        hx-target="#post-container"
        hx-swap="outerHTML"
        _="on mouseenter add .red-background to me
        on mouseleave remove .red-background from me
        on load set *opacity to 0
        ">Delete</a>
        <a id="edit{{post.id}}" type="button" class="post-button opacity-0" style="cursor: pointer;"
        hidden
        hx-post="{% url 'edit_post' post.pk %}"
        hx-target="#post{{post.id}}"
        hx-swap="outerHTML"
        _="on mouseenter add .lightgreen-background to me
        on mouseleave remove .lightgreen-background from me
        on load set *opacity to 0
        ">Edit</a>
    </div>
</div>
