{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <ul class="font-bold border-red-600 bg-red-400 mb-2 w-fit px-1 mt-1"
                    style="position: absolute; left: 50%; transform: translateX(-50%); z-index: 7;"
                 _="on load transition opacity to 0 over 3s then remove me">
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
            {% if message.tags == 'info' %}
                <ul class="font-bold border-green-600 bg-green-400 mb-2 w-fit px-1 mt-1" 
                style="position: absolute; left: 50%; transform: translateX(-50%); z-index: 7;"
                _="on load transition opacity to 0 over 3s then remove me">
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
<div class="post-card" id="post{{ post.id }}" style="transform: translateX(-150%); opacity: 0;"
    _="on load transition my *opacity to 1 over 1 seconds
    on load transition my *transform to 'translateX(0%)' over 0.5 seconds
    on mouseenter toggle @hidden on #delete{{post.id}} until mouseleave
    on mouseenter toggle @hidden on #edit{{post.id}} until mouseleave
    on every mouseenter transition #delete{{post.id}} opacity to 1 over 0.4 seconds
    on every mouseenter transition #edit{{post.id}} opacity to 1 over 0.4 seconds
    on every mouseleave transition #delete{{post.id}} opacity to 0
    on every mouseleave transition #edit{{post.id}} opacity to 0">
    <b><h1 class="posted-title">{{ post.title }}</h1></b>
    {% autoescape off %}
    <p id="posttext{{post.id}}" class="posted-text">{{ post.text }}</p>
    {% endautoescape %}
    {% include 'show_links.html' %}
    <br>
    <div style="padding-bottom: 15px;">
        <a id="delete{{post.id}}" type="button" class="post-button" style="cursor: pointer;
        position: absolute; left:90%; top:1%;"
        hidden
        hx-delete="{% url 'delete_post' post.pk %}"
        hx-confirm="Are you sure you want to delete this post?"
        hx-target="#post-container"
        hx-swap="outerHTML"
        _="on mouseenter add .red-background to me
        on mouseleave remove .red-background from me
        on load set *opacity to 0
        ">Delete</a>
        <a id="edit{{post.id}}" type="button" class="post-button opacity-0" style="cursor: pointer;
        position: absolute; left:80%; top:1%;"
        hidden
        hx-post="{% url 'edit_post' post.pk %}"
        hx-target="#post{{post.id}}"
        hx-swap="outerHTML"
        _="on mouseenter add .lightgreen-background to me
        on mouseleave remove .lightgreen-background from me
        on load set *opacity to 0
        ">Edit</a>
    </div>
</div>
