<div class="opacity-0" _="on load transition my opacity to 1 over 0.8 seconds">
    {% for post in posts %}
        {% if forloop.last %}         
            <div id="post{{post.id}}" hx-get="{% url 'dash_user' %}?page={{page_obj.next_page_number}}"
            hx-trigger="revealed" hx-swap="afterend" hx-target="this">
        {% else %}
            <div id="post{{post.id}}">
        {% endif %}
                <b><h1 style="font-size: x-large; text-align: left; width: 60%;">{{ post.title }}</h1></b>
                <br />
                <p style="display:inline-block; font-size: medium; width: 60%; text-overflow:ellipsis; overflow: hidden; height: 70px; text-align: justify;">{{ post.text }}</p>
                <p style="display: inline-block;">...</p>
                <br />
            </div>
            <a hx-delete="{% url 'delete_post' post.pk %}" type="button" class="post-button" style="cursor: pointer;"
                hx-confirm="Are you sure you want to delete this post?" hx-target="#post{{post.id}}"
                _="on mouseenter add .red-background to me 
                on mouseleave remove .red-background from me">DELETE</a>
            <button hx-post="{% url 'edit_post' post.pk %}" type="button" class="post-button" 
                hx-target="#post{{post.id}}"
                _="on mouseenter add .lightgreen-background to me 
                on mouseleave remove .lightgreen-background from me">EDIT</button>
    {% endfor %}
</div>