{% if exists %}
<div name="user_availability" id="user_availability">
    <input type="text" name="username" id="username" placeholder=" Username..." style="border: 1px red solid; margin: 10px;"
    value="{{username}}" autofocus
    hx-get="{% url 'check_username' %}"
    hx-trigger="keyup changed delay:1s"
    hx-target="#user_availability"
    hx-swap="outerHTML"/>
    <p style="font-size: smaller; color: red; font-weight: bold;">Username taken.</p>
  </div>
{% else %}
<div name="user_availability" id="user_availability">
    <input type="text" name="username" id="username" placeholder=" Username..." style="border: 1px lightgreen solid; margin: 10px;"
    value="{{username}}" autofocus
    hx-get="{% url 'check_username' %}"
    hx-trigger="keyup changed delay:1s"
    hx-target="#user_availability"
    hx-swap="outerHTML"/>
    <p style="font-size: smaller; color: green; font-weight: bold;">Username available.</p>
  </div>
{% endif %}