<div class="opacity-0" _="on load transition my opacity to 1 over 0.8 seconds">
    {% for post in posts %}
        {% if forloop.last %}
        <div hx-get="{% url 'dash_user' %}?page={{page_obj.number|add:1}}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
        {% else %}
        <div>
        {% endif %}
        <b><h1 style="font-size: x-large; text-align: left; width: 60%;">{{ post.title }}</h1></b>
        <br />
        <p style="display:inline-block; font-size: medium; width: 60%; text-overflow:ellipsis; overflow: hidden; height: 70px; text-align: justify;">{{ post.text }}</p>
        <p style="display: inline-block;">...</p>
        <br />
      </div>
      <button type="button" class="delete-button">Delete</button>
    {% endfor %}
</div>