{% extends 'base.html' %}
{% block content %}
  <br />
  <center class="post-card" style="position: absolute; left: 50%; transform: translateX(-50%); top: 65px; min-width: 40vh;">
    <b><h1 class="posted-title" type="button" style="text-align: center;">{{ post.title }}</h1></b>
    <br/>
    {% autoescape off %}
    <p class="posted-text-post" style="text-align: justify; overflow: auto; height: auto; word-wrap: break-word;">{{ post.text }}</p><br>
    {% endautoescape %}
    {% for link in post.get_links %}
        {% autoescape off %}
        {{link.link}}
        {% endautoescape %}
    {% endfor %}
    {% if user.is_authenticated %}
        <div hx-get="{% url 'this_like' post.pk %}" hx-swap="outerHTML" hx-trigger="load">
          {% include 'snippets/like_button.html' %}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
    <button name="add-comment" id="add-comment" class="post-button" style="width: 100px; position: absolute; left: 5px;" 
    _="on click add @hidden to me then remove @hidden from #new-comment">Comment</button>
    <br/>
    <div name="new-comment" id="new-comment" hidden>
      <form hx-post="{% url 'post_comment' post.id %}"
            hx-target="#all-comments"
            hx-confirm="Post Comment?"
      _="on htmx:afterRequest add @hidden to #new-comment then remove @hidden from #add-comment
          then put '' into <textarea />'s value
        
        on keyup[ctrlKey and key is 'Enter'] from body if #new-comment does not match @hidden trigger submit">
        <textarea name="new-comment-area" 
        id="new-comment-area" 
        cols="80" rows="10" 
        placeholder="Comment here..."
        required></textarea>
        <div>
          <button class="post-button" type="submit" style="margin-right: 10px; width: 100px;"
          >Comment</button>
          <button class="post-button" type="reset"
          _="on click add @hidden to #new-comment then remove @hidden from #add-comment"
          >Cancel</button>
        </div>
      </form>
      {% endif %}  
      <br>
    </div>
    <br/>
    <div name="all-comments" id="all-comments" hx-get="{% url 'show_comments' post.id %}" hx-trigger="load">
      {% include 'snippets/comment.html' %}
    </div>
  </center>
{% endblock %}
