
{% if user.is_authenticated %}
<div style="background-color: gray; height: 40px; border-bottom: 1px black solid; position:fixed; top: 0; width: 100%; z-index: 100;">
    <a href="{% url 'index' %}" style="position:absolute; left: 10px; top: 5px;">Home</a>
    <a href="{% url 'logout_user' %}" style="position:absolute; right: 10px; top: 5px;">Logout</a>
    <a href="{% url 'dash_user' %}" style="position:absolute; right: 70px; top: 5px;">Dashboard</a>
</div>    
{% else %}
<div style="background-color: gray; height: 40px; border-bottom: 1px black solid; position:fixed; top: 0; width: 100%; z-index: 100;">
    <a href="{% url 'index' %}" style="position:absolute; left: 10px; top: 5px;">Home</a>
    <a href="{% url 'login_user' %}" style="position:absolute; right: 10px; top: 5px;">Login</a>
    <a href="{% url 'register_user' %}" style="position:absolute; right: 70px; top: 5px;">Register</a>
</div>
{% endif %}
    
