{% if user.is_authenticated %}
  <div style="background-color: gray; height: 40px; border-bottom: 1px black solid; position:fixed; top: 0; width: 100%; z-index: 100;">
    <a href="{% url 'index' %}" 
    class="post-button" 
    style="position:absolute; left: 10px; top: 3px; text-align: center;"
    _="on mouseenter add .darkgrey-background to me 
    on mouseleave remove .darkgrey-background from me">Home</a>
    <a href="{% url 'user_profile' %}" class="post-button" 
    style="position:absolute; right: 200px; top: 3px; text-align: right;">{{user}}</a >
    <a href="{% url 'logout_user' %}" 
    class="post-button" 
    style="position:absolute; right: 10px; top: 3px; text-align: center;"
    _="on mouseenter add .darkgrey-background to me 
        on mouseleave remove .darkgrey-background from me">Logout</a>
    <a href="{% url 'dash_user' %}"
    class="post-button" 
    style="position:absolute; right: 100px; top: 3px; text-align: center; width: 90px;"
    _="on mouseenter add .darkgrey-background to me 
        on mouseleave remove .darkgrey-background from me">Dashboard</a>
  </div>
{% else %}
  <div style="background-color: gray; height: 40px; border-bottom: 1px black solid; position:fixed; top: 0; width: 100%; z-index: 100;">
    <a href="{% url 'index' %}" 
    class="post-button" 
    style="position:absolute; left: 10px; top: 3px; text-align: center;"
    _="on mouseenter add .darkgrey-background to me 
        on mouseleave remove .darkgrey-background from me">Home</a>
    <a href="{% url 'login_user' %}" 
    class="post-button" 
    style="position:absolute; right: 10px; top: 3px; text-align: center;"
    _="on mouseenter add .darkgrey-background to me 
        on mouseleave remove .darkgrey-background from me">Login</a>
    <a href="{% url 'register_user' %}" 
    class="post-button" 
    style="position:absolute; right: 100px; top: 3px; text-align: center;"
    _="on mouseenter add .darkgrey-background to me 
        on mouseleave remove .darkgrey-background from me">Register</a>
  </div>
{% endif %}
