{% if messages %}
  {% for message in messages %}
    <ul class="font-bold border-green-600 bg-green-400 mb-2 w-fit px-1" _="on load transition opacity to 0 over 3s then remove me">
      <li>{{ message }}</li>
    </ul>
  {% endfor %}
{% endif %}
{% for comment in comments %}
  {% if comment.text != '' %}
    <div style="width: 100%;">
      <p name="comment{{ comment.id }}" id="comment{{ comment.id }}" class="posted-comment">{{ comment }}</p>
        {% if user.is_authenticated and user.pk == comment.username.pk %}
        <a type="button" hx-delete="{% url 'delete_comment' comment.id %}" hx-target="#all-comments" hx-confirm="Are you sure?" style="scale:90%;
        padding-right: 4px;
        padding-left: 4px;
        cursor: pointer;
        float:right;
        position: relative;
        border: 1px darkgray solid;">Delete</a>
        {% endif %}
        {% if user.is_authenticated %}
        <div hx-get="{% url 'comment_like' comment.pk %}" hx-swap="outerHTML" hx-trigger="load">
          {% include 'snippets/like_button2.html' %}
        </div>
        {% endif %}
    </div>
  {% endif %}
{% endfor %}
