{% if messages %}
  {% for message in messages %}
    <ul class="font-bold border-green-600 bg-green-400 mb-2 w-fit px-1" _="on load transition opacity to 0 over 3s then remove me">
      <li>{{ message }}</li>
    </ul>
  {% endfor %}
{% endif %}
{% for comment in comments %}
  {% if comment.text != '' %}
    <div style="display: inline-flex; width: 100%;">
      <p name="comment{{ comment.id }}" id="comment{{ comment.id }}" class="posted-comment">{{ comment }}</p>
      <a class="post-button" type="button"
      hx-delete="{% url 'delete_comment' comment.id %}"
      hx-target="#all-comments"
      style="scale:70%; 
      cursor: pointer; 
      margin-left: auto; 
      align-self: 
      flex-end;">Delete</a>
    </div>
  {% endif %}
{% endfor %}
