<fadein class="opacity-0" _="
on load transition my opacity to 1 over 0.7 seconds">
  {% for post in latest_posts_list %}
  {% if forloop.last and page_obj.has_next %}
  <div class="post-card" style="position: relative; transform: translateX(-150%);" hx-get="{% url 'index' %}?page={{page_obj.number|add:1}}" hx-trigger="revealed" hx-swap="afterend"
  _="on load transition my *transform to 'translateX(0%)' over 0.5s">
  {% else %}
  <div class="post-card" style="position: relative; transform: translateX(-150%);"
  _="on load transition my *transform to 'translateX(0%)' over 0.5s">
  {% endif %}
        <a href="" style="cursor: pointer;">
          <p style="float:right; text-transform: capitalize;">{{post.username}}</p>
        </a>
        <b>
          <h1 class="posted-title">
            <a href="{% url 'see_post' post.id %}" type="button" style="cursor: pointer;">{{ post.title }}</a></h1>
        </b>
      {% autoescape off %}
    <p id="posttext{{post.id}}" class="posted-text">{{ post.text }}</p>
    {% endautoescape %}
    {% include 'show_links.html' %}
      <div style="width: 100%;">
        <a href="{% url 'see_post' post.id %}">
        <p style="float: right;">{{post.comment_number}} {% if post.comment_number == 1 %}comment{% else %}comments{% endif %}</p>
        </a>
        {% if user.is_authenticated %}
        <div hx-get="{% url 'this_like' post.pk %}" hx-swap="outerHTML" hx-trigger="load">
          {% include 'snippets/like_button.html' %}
        </div>
        {% endif %}
      </div>
      <br />
    </div>
  {% endfor %}
</fadein>
